


.dialog-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    z-index: 91;


    *::-webkit-scrollbar{
        height: 5px;
        width: 10px;
    }
    *::-webkit-scrollbar-track{
        background-color: transparent;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #661983;
        border-radius: 10px; /* 設定圓角 */
    }
}

.dialog-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: gray;
    opacity:0.5;
}

.dialog {
    background: white;
    width: 300px;
    height: 400px;
    position: fixed;
    top: 10%;

    opacity:1.0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #661983;

    .dialog-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
            padding: 10px;
            font-size: 25px;
        }
    }

    .dialog-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: scroll;
        height: 100%;
        width: 85%;
        padding: 0 15px;
        .row {
            width: 70%;
            background: #FBE0FF;
            padding: 10px 30px;
            border-radius: 100px;
            margin-bottom: 10px;
            font-size: 20px;
            word-break: break-all;
        }
        .row-click {
            color: #FBE0FF;
            background: #661983;
        }
    }

    .dialog-footer {
        padding: 10px;
        .img-next {
            width: 40px;
            height: 40px;
        }
    }
}
