header {
    width: 110%; //背景填滿
    position: fixed;
    z-index: 90;
    top: -4px;
    left: -1px;

    .img-header {
        width: 105%; //背景填滿 
    }
    
    .img-back {
        width: 40px;
        position: fixed;
        top: 20px;
        left: 10px;
    }

    .header-title {
        font-size: 25px;
        width: 100%;
        color: #FBE0FF;
        position: fixed;
        top: 20px;
        left: 10px;
        text-align: center;
    }
}


.padding-box {
    background: white;
}



@media (min-width: 1100px) {
    .img-header-main {
        content: url("~src/assets/images/header/main/2000px.png");
    }
}
@media (min-width: 500px) and (max-width: 1100px) {
    .img-header-main {
        content: url('~src/assets/images/header/main/1000px.png');
    }
}
@media (max-width: 500px) {
    .img-header-main {
        content: url("~src/assets/images/header/main/400px.png");
    }
}

@media (min-width: 1100px) {
    .img-header {
        content: url("~src/assets/images/header/secondary/2000px.png");
    }
}
@media (min-width: 500px) and (max-width: 1100px) {
    .img-header {
        content: url("~src/assets/images/header/secondary/1000px.png");
    }
}
@media (max-width: 500px) {
    .img-header {
        content: url('~src/assets/images/header/secondary/400px.png');
    }
}
