
.container {
    display: flex;
    height: 450px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.dialog-container {
    z-index: 91;
}

