
<div class="container">
    <app-calendar-picker 
        (selectDatInfo)="updateSelectDay($event)" 
        (selectDayAllBookingRecord)="updateBookingRecord($event)"> 
    </app-calendar-picker>

    <!-- dialog 該日之 已預約時段 -->
    <div class="dialog-container">
        <app-dialog 
            (selectedItem)="selectBookingToCancle($event)"
            [isHiddenDialog]="isHiddenDialogBookingRecord"
            (hideDialog)="isHiddenDialogBookingRecord=true"
            [itemList]="dialogBookingRecordItemList">
        </app-dialog>
    </div>
    
</div>
