
.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .row {
        width: 80%;
        max-width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin: 20px 0;
        padding: 10px 20px;
        border-radius: 20px;
        background: #FBE0FF;
    }

    button {
        color: white;
        background: #661983;
        font-size: 20px;
        border-radius: 40px;
        padding: 10px 20px;
        border: none;
        margin: 20px;
    }

    .delete-container {
        display: flex;
        flex-direction: column;
        color: red;

        input {
            padding: 15px;
            border-radius: 30px;
            border: 2px solid #661983;
        }
    }
}


